[Unit]
Description=onIpChange service
[Service]
WorkingDirectory=/home/pub/onIpChange
ExecStart=/usr/dotnet/dotnet /home/pub/onIpChange/OnIPv6ChangeSend.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=onIpChange

User=root
# Development 开发环境，Production 生产环境
Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
